/*  your css code here. If applicable */
.green{
	width:100px;
	height:100px;
	border-radius:50%;
}
.yellow{
	width:100px;
	height:100px;
	border-radius:50%;
}
.red{
	width:100px;
	height:100px;
	border-radius:50%;
}
.container{
	 border-width: 6px;
            border-style: solid;
	align-items :center;
     border-radius:20px;
    height:200px;
	width:600px;
	background-color:#D3D3D3;
    display:flex;
	justify-content:space-around;
	
}